.cardItem
{
    padding: $space1;

    transition: all .3s ease;

    border-radius: $bR1;
    background: rgba-hex($codeGray, .05);

    &:hover
    {
        transform: translateY(-2px);

        box-shadow: $shadSm;
    }
    @media (min-width: $xs)
    {
        padding: $space2;
    }
}

.cardTitle
{
    font-size: $fs2;
    font-weight: $fw5;

    margin-bottom: $space0n75;

    color: $codeBg;
}

.cardText
{
    font-size: $fs16;
    line-height: $baseH;

    color: $codeGray;
}
