.formWrapperBlock
{
    display: block;
}

.formWrapperFlex
{
    display: flex;
}

.formWrapperBlock,
.formWrapperFlex
{
    align-items: center;

    width: $space100;
    height: $space100;
    padding: $space1;

    transition: $all0n3;

    border: $border1;
    border-radius: $bR1;
    background: rgb($codeWhite);

    &:hover
    {
        box-shadow: $shadSm;

        .title::after
        {
            width: $space4 * 2;
        }
    }

    &.spanTwo
    {
        grid-column: span 1;

        @media (min-width: $lg)
        {
            grid-column: span 2;
        }
    }
}

.title
{
    font-size: $fs4;
    font-weight: $fw7;

    position: relative;

    margin-bottom: $space2;

    transition: $all0n3;

    color: rgb($codeBg);

    &::after
    {
        position: absolute;
        bottom: -$space0n5;
        left: $space0;

        width: $space4;
        height: $spacepx * 3;

        content: '';
        transition: $all0n3;

        border-radius: $bR1;
        background: linear-gradient(90deg, rgb($codeRed), rgb($codePink));
    }
}

.icon
{
    display: $no;

    @media (min-width: $xs)
    {
        font-size: $fs6;

        display: flex;
        align-items: center;
        align-self: center;
        flex-shrink: $space0;
        justify-content: center;

        height: $space100;
        margin-right: $space2;

        text-align: left;
    }
}


.text
{
    font-size: $fs16;
    font-weight: $fw4;
    line-height: $baseH;

    width: $space100;

    text-wrap: wrap;

    color: rgb($codeGray);&:nth-child(2)
    {
        margin-bottom: $space1n5;
    }
    &:nth-last-child(1):nth-child(1)
    {
        margin-bottom: $space1;
    }
}

.flexRow
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    width: $space100;

    gap: $space1;
}
.flexColumn
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    width: $space100;

    gap: $space1;
}
