.Card
{
    @include bigCard;
}

.featuredImage
{
    position: relative;

    overflow: hidden;

    height: 250px;

    img
    {
        width: $space100;
        height: $space100;

        transition: transform .3s ease-in-out;

        object-fit: cover;
    }


    @media (max-width: $sm - 1px)
    {
        height: 200px;
    }
}

.featuredOverlay
{
    @include bigCardOverlay;
}
.viewProject
{
    @include viewProject;
}

.featuredContent
{
    @include bigCardContent;
}

.featuredTitle
{
    @include cardtitle;
}

.featuredDescription
{
    @include carddescription;
}

.featuredTech
{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    height: space100;
    margin-top: $space2; gap: $space0n5;
}

.techTag
{
    font-size: $fs16;
    font-weight: $fw5;

    display: inline-block;

    padding: $space0n25 $space0n75;

    color: rgb($codeBlueDark);
    border-radius: $bR1 / 2;
    background-color: rgba($codeBlueBright, .3);
}
