.statItem
{
    padding: $space2;

    transition: all .3s ease-in-out;
    text-align: center;

    border: 1px solid $gray-200;
    border-radius: $bR1;
    background-color: $clr0W;

    &:hover
    {
        transform: translateY(-4px);

        border-color: $clr1;
        box-shadow: $shadLg;
    }
}

.statNumber
{
    font-size: $h3;
    font-weight: 700;
    line-height: $tightH;

    display: block;

    color: $clr1;
}

.statLabel
{
    font-size: $p;
    font-weight: 500;

    margin-top: $space0n5;

    color: $codeTextPriSec;
}
