@use '@scss/_variables.scss' as *;

// 1. Basis-Styling für alle Buttons
@mixin button-base
{
    font-size: $p;

    padding: $space1 $space2;

    transition: all .2s ease;

    border-radius: $bR1;

    &:hover
    {
        text-decoration: none;
    }
}

// 2. Variant-Styling: $type = primary | secondary, $style = filled | outlined
@mixin button-variant($type, $style)
{
    @if $style == filled
    {
        @if $type == primary
        {
            color: $clr0W;
            background-color: $clr1;

            &:hover
            {
                background-color: $clr1L;
            }

            &:active
            {
                background-color: $clr1D;
            }
        }

        @else if $type == secondary
        {
            color: $clr0W;
            background-color: $clr2;

            &:hover
            {
                background-color: $clr2L;
            }

            &:active
            {
                background-color: $clr2D;
            }
        }
    }

    @else if $style == outlined
    {
        background-color: transparent;

        @if $type == primary
        {
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);

            &:hover
            {
                color: var(--clr-primary-dark);
                border-color: var(--clr-primary-dark);
                background-color: var(--clr-primary-light-hover);
            }

            &:active
            {
                background-color: var(--clr-primary-dark-hover);
            }
        }

        @else if $type == secondary
        {
            color: var(--clr-secondary);
            border: 1px solid var(--clr-secondary);

            &:hover
            {
                color: var(--clr-secondary-dark);
                border-color: var(--clr-secondary-dark);
                background-color: var(--clr-secondary-light-hover);
            }

            &:active
            {
                background-color: var(--clr-secondary-dark-hover);
            }
        }
    }
}
