@use '@scss/_reset.scss' as *;
@use '@scss/_variables.scss' as *;
@use '@scss/_animations.scss' as *;

html
{
    background-color: rgb($codeBgTer);
}

body
{
    font-family: $fontFamily;
    font-size: $fs16;

    color: rgb($codeTextPri);
    background-color: rgb($codeBgTer);
}
