.Figma,
.JavaScript,
.React,
.Webdesign,
.WordPress,
.Illustrator,
.Grafikdesign,
.Photoshop
{
    font-size: $fs5;
    font-weight: $fw6;
    line-height: $baseH;

    overflow: hidden;

    transition: color .3s background-color .3s;
    white-space: nowrap;
}

.Figma
{
    font-weight: $fw6;

    color: rgb($codeRed);
}


.JavaScript
{
    font-weight: $fw6;

    color: rgb($codeBlue);
}



.React
{
    font-weight: $fw6;

    color: rgb($codePurple);
}


.Webdesign
{
    font-weight: $fw6;

    color: rgb($codeBlue)Bright;
}

.WordPress
{
    font-weight: $fw6;

    color: rgb($codeLila)ark;
}
.Illustrator
{
    font-weight: $fw6;

    color: rgb($codeOrange);
}
.Grafikdesign
{
    font-weight: $fw6;

    color: rgb($codeGreen);
}
.Photoshop
{
    font-weight: $fw6;

    color: rgb($codeLila);
}
