
.projects
{
    @include section;
}

.projectsTitle
{
    @include sectionTitle;
}

.projectsGrid
{
    @include grid;
}

.projectsCta
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: $space2;
}

.Card
{
    @include bigCard;
}

.featuredImage
{
    @include bigCardImage;
}



.viewProject
{
    @include viewProject;
}

.featuredContent
{
    @include bigCardContent;
}

.featuredTitle
{
    @include cardtitle;
}

.featuredDescription
{
    @include carddescription;
}

.featuredTech
{
    @include bigCardTags;
}

.techTag
{
    @include tag;
}

.featuredOverlay
{
    @include bigCardOverlay;
}
.viewAllButton
{
    @include ctaButtonPrimary;
}
