// components/casestudy/components/CaseStudyMeta/CaseStudyMeta.module.scss
.meta
{
    margin-bottom: $space2;
    padding: $space2;

    border-radius: $bR1;
    background-color: $clr0W;
    box-shadow: $shadSm;

    @media (max-width: $md)
    {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        gap: $space1n5;
    }

    @media (max-width: $sm)
    {
        grid-template-columns: 1fr;
    }
}

.metaTitle
{
    font-size: $h6;
    font-weight: 700;

    margin-bottom: $space1n5;
    padding-bottom: $space1;

    color: $codeTextPri;
    border-bottom: 2px solid $gray-200;

    @media (max-width: $md)
    {
        grid-column: 1 / -1;
    }
}

.metaItem
{
    display: flex;
    flex-direction: column;

    margin-bottom: $space1n5;

    &:last-child
    {
        margin-bottom: 0;
    }
}

.metaLabel
{
    font-size: $fs14;
    font-weight: 600;

    margin-bottom: $space0n25;

    letter-spacing: .5px;
    text-transform: uppercase;

    color: $codeGray;
}

.metaValue
{
    font-size: $p;
    font-weight: 500;

    color: $codeTextPri;
}

.tags
{
    margin-top: $space1n5;
    padding-top: $space1n5;

    border-top: 1px solid $gray-200;

    @media (max-width: $md)
    {
        margin-top: 0;
        padding-top: 0;

        border-top: none;

        grid-column: 1 / -1;
    }
}

.tagList
{
    display: flex;
    flex-wrap: wrap;

    margin-top: $space0n5;

    gap: $space0n5;
}

.tag
{
    font-size: $fs14;
    font-weight: 500;

    display: inline-block;

    padding: $space0n25 $space0n75;

    color: $clr1;
    border-radius: $bR1;
    background-color: rgba($clr1, .1);
}
