.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    width: $spaceFull;
    max-width: 1200px;
    height: $spaceAuto;

    margin-inline: auto;
    padding-inline: $space0n75;

    @media (min-width: $xs)
    {
        padding-inline: $space1;
    }
    @media (min-width: $sm)
    {
        padding-inline: $space1n5;
    }
    @media (min-width: $md)
    {
        padding-inline: $space2;
    }
    @media (min-width: $lg)
    {
        padding-inline: $space2n5;
    }
    @media (min-width: $xl)
    {
        padding-inline: $space3;
    }
}
